  <div class="content">
    <div class="content_resize">
      <div id="rightarea" class="limiter">

  <div class="container-table100">

            <div class="wrap-table100">

  <div class="table100">
                <table id="hakona">
                  <thead>
                    <tr class="table100-head">
                      <th class="column3">Department</th>
                      <th class="column3">Nomenclature</th>
                      <th class="column4">Serial_no</th>
                      <th class="column4">Id</th>
                      <th class="column4">Model</th>
                      <th class="column3">Manufacturer</th>
                      <th class="column4">Manufac_contact</th>
                      <th class="column3">Local_agent</th>
                      <th class="column4">Agent_contact</th>
                      <th class="column4">Condition_code</th>
                      <th class="column4">Price</th>
                      <th class="column3">Install_data</th>
                      <th class="column4">Warrenty_period</th>
                      <th class="column3">Maintain._Assess.</th>
                    </tr>
                  </thead>


                  <tbody>
                    {{#each equipment}}


                    <tr>

                        <td class="column3">{{department}}</td>
                        <td class="column3">{{nomenclature}}</td>
                        <td class="column4"  > <a href="/index">{{serial_no}}</td>
                        <td class="column4">{{id}}</td>
                        <td class="column4">{{model}}</td>
                        <td class="column3">{{manufacturer}}</td>
                        <th class="column4">{{contact_manufacturer}}</th>
                        <th class="column3">{{local_agent}}</th>
                        <th class="column4">{{contact_agent}}</th>
                        <th class="column4">{{condition_code}}</th>
                        <th class="column4">{{price}}</th>
                        <th class="column3">{{install_date}}</th>
                         <th class="column4">{{warrenty_period}}</th>
                        <th class="column3">{{maintenance_assessment}}</th>

                      </tr>
                    {{/each}}
                  </tbody>
                </table>

              </div>

                    </div>

                    </div>

              </div>
      <div id="leftarea" class="sidebar">
        <div class="searchform">
          <form id="formsearch" name="formsearch" method="post" action="/blog">
            <span>
            <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
            </span>
              <button name="button_search"  class="button_search" type="image" ><img src="images/search.gif"></button>
          </form>
        </div>
        
        <div class="clr"></div>
        <div class="gadget">
          <h2 class="star"><span>Sidebar</span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">TemplateInfo</a></li>
            <li><a href="#">Style Demo</a></li>
            <li><a href="#">Blog</a></li>
              <li><a href="/PPM">PPM</a></li>
              <li><a href="/Calibration">Calibration</a></li>
              <li><a href="/store">Store</a></li>

          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
