

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div
                    class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Department-Table<br>

                    </h2>

                </div>
            </div>
        </div>
</section>
<!--================End Home Banner Area =================-->



<!--================start form  Area =================-->
<section class="appointment-area area-padding">
    <div class="container1">

        <div class="appointment-inner">
            <div class="row">
                <div class="col-sm-16 col-lg-10 offset-lg-1">
                  <div class="topnav">

   <div class="search-container">
     <form action="/dep_table" method="post">
       <input type="text" placeholder="Search by code.." name="search">
       <button type="submit"><i class="fa fa-search"></i></button>
     </form>
   </div>
 </div>
                    <caption>Department Table</caption>
                    <table id="hakona">
                        <thead>
                        <tr class="table100-head">
                            <th class="column4">Name</th>
                            <th class="column3">B_ID</th>
                            <th class="column3">Floor</th>
                            <th class="column3">Building</th>
                            <th class="column4">Location</th>
                            <th class="column4">Code</th>
                        </tr>
                        </thead>

                        <tbody>
                        {{#each department}}
                            <tr>
                                <td class="column4">{{name}}</td>
                                <td class="column3">{{b_id}}</td>
                                <td class="column3">{{floor}}</td>
                                <td class="column3">{{building}}</td>
                                <td class="column4">{{location}}</td>
                                <td class="column4">{{code}}</td>
                            </tr>
                        {{/each}}
                        </tbody>

                    </table>
                </div>


            </div>

        </div>

</section>
<!-- ================ form Area ends ================= -->
section class="hotline-area text-center area-padding">
<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Emergency hotline</h2>
                <span>(+01) – 256 567 550</span>
                <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
            </div>
        </div>
    </div>
</section>

<!-- ================ Hotline area ends ================= -->


<!-- ================ testimonial section start ================= -->
<section class="testimonial">
    <div class="container">
        <div class="testi_slider owl-carousel owl-theme">
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes1.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "We are 24 hours in patients' service"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes2.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Our ICUs has a very qualified staff"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes3.jpg"  alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Nurses are trained very well"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes4.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Patients feel like they are at their homes"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>