

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div
                    class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Equipment<br>
                        Table
                    </h2>

                </div>
            </div>
        </div>
</section>
<!--================End Home Banner Area =================-->



<!--================start form  Area =================-->
<section class="appointment-area area-padding">
    <div class="container2">

        <div class="appointment-inner">
            <div class="row2">
                <div class="col-sm-16 col-lg-10 offset-lg-1">
                    <caption>Equipment Table</caption>
                    <a href="/Equipment?id=1" id="1">1</a>
                    <a href="/Equipment?id=2" id="2">2</a>
                    <a href="/Equipment?id=3" id="3">3</a>
                    <a href="/Equipment?id=4" id="4">4</a>
                    <table id="hakona">
                        <thead>
                        <tr class="table100-head">
                            <th class="column5">Nomenclature</th>
                            <th class="column5">ID</th>
                            <th class="column3">Department</th>
                            <th class="column3">Department Code</th>
                            <th class="column4">Serial Number</th>
                            <th class="column5">Model</th>
                            <th class="column4">Manufacturer</th>
                            <th class="column4">Manufacturer Contact</th>
                            <th class="column4">Local Agent</th>
                            <th class="column4">Agent Contact</th>
                            <th class="column3">Condition Code</th>
                            <th class="column3">Price</th>
                            <th class="column4">Installation Data</th>
                            <th class="column4">Warrenty Period</th>
                            <th class="column3">Maintainance    Assessment</th>
                        </tr>
                        </thead>

                        <tbody>
                        {{#each equipment}}
                            <tr>
                                <td class="column5">{{nomenclature}}</td>
                                <td class="column5">{{id}}</td>
                                <td class="column4">{{department}}</td>
                                <td class="column3">{{dep_code}}</td>
                                <td class="column4"> {{serial_no}}</td>
                                <td class="column5">{{model}}</td>
                                <td class="column4">{{manufacturer}}</td>
                                <th class="column4">{{contact_manufacturer}}</th>
                                <th class="column4">{{local_agent}}</th>
                                <th class="column4">{{contact_agent}}</th>
                                <th class="column3">{{condition_code}}</th>
                                <th class="column4">{{price}}</th>
                                <th class="column4">{{install_date}}</th>
                                <th class="column4">{{warrenty_period}}</th>
                                <th class="column4">{{maintenance_assessment}}</th>
                            </tr>
                        {{/each}}
                        </tbody>
                        <tbody>
                        {{#each eq2}}
                            <tr>
                                <td class="column5">{{nomenclature}}</td>
                                <td class="column5">{{id}}</td>
                                <td class="column4">{{department}}</td>
                                <td class="column3">{{dep_code}}</td>
                                <td class="column4"> {{serial_no}}</td>
                                <td class="column5">{{model}}</td>
                                <td class="column4">{{manufacturer}}</td>
                                <th class="column4">{{contact_manufacturer}}</th>
                                <th class="column4">{{local_agent}}</th>
                                <th class="column4">{{contact_agent}}</th>
                                <th class="column3">{{condition_code}}</th>
                                <th class="column4">{{price}}</th>
                                <th class="column4">{{install_date}}</th>
                                <th class="column4">{{warrenty_period}}</th>
                                <th class="column4">{{maintenance_assessment}}</th>
                            </tr>
                        {{/each}}
                        {{#each eq}}
                            <tr>
                                <td class="column5">{{nomenclature}}</td>
                                <td class="column5">{{id}}</td>
                                <td class="column4">{{department}}</td>
                                <td class="column3">{{dep_code}}</td>
                                <td class="column4"> {{serial_no}}</td>
                                <td class="column5">{{model}}</td>
                                <td class="column4">{{manufacturer}}</td>
                                <th class="column4">{{contact_manufacturer}}</th>
                                <th class="column4">{{local_agent}}</th>
                                <th class="column4">{{contact_agent}}</th>
                                <th class="column3">{{condition_code}}</th>
                                <th class="column4">{{price}}</th>
                                <th class="column4">{{install_date}}</th>
                                <th class="column4">{{warrenty_period}}</th>
                                <th class="column4">{{maintenance_assessment}}</th>
                            </tr>

                        {{/each}}
                        </tbody>
                    </table>
                </div>


            </div>

        </div>

</section>
<!-- ================ form Area ends ================= -->
section class="hotline-area text-center area-padding">
<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Emergency hotline</h2>
                <span>(+01) – 256 567 550</span>
                <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
            </div>
        </div>
    </div>
</section>

<!-- ================ Hotline area ends ================= -->


<!-- ================ testimonial section start ================= -->
<section class="testimonial">
    <div class="container">
        <div class="testi_slider owl-carousel owl-theme">
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes1.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "We are 24 hours in patients' service"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes2.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Our ICUs has a very qualified staff"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes3.jpg"  alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Nurses are trained very well"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes4.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Patients feel like they are at their homes"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>